body {
  background-color: lightgrey;
  background-size: cover;
  background-blend-mode: multiply;
  font-family: "Courier New", Courier, monospace;
}

p {
  font-size: xx-small;
}

.title-container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  margin: auto;
  width: 75%;
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.values-container {
  text-align: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  margin-top: 20px;
}

.value-text {
  padding: 20px;
  margin: 10px;
  border-style: groove;
  border-width: 5px;
  border-radius: 15px;
  font-weight: bold;
  background-color: whitesmoke;
  width: 40%;
}

.values {
  padding-top: 10px;
  font-size: large;
}

.message-container {
  text-align: center;
  margin: 30px auto;
  font-weight: bold;
  border-style: ridge;
  border-width: 5px;
  border-radius: 15px;
  width: 75%;
  background-color: whitesmoke;
}

.linechart {
  width: 100%;
  margin: 10px auto;
  border-style: ridge;
  border-width: 5px;
  border-radius: 15px;
  font-weight: bold;
  background-color: whitesmoke;
}

@media only screen and (max-width: 768px) {
  .values-container {
    width: 95%;
  }

  .value-text {
    width: 100%;
  }
}

@media only screen and (max-width: 535px) {
  .values-container {
    width: 95%;
  }
  .value-text {
    width: 90%;
  }
  .lineCharts-container {
    width: 90%;
  }
  .linechart {
    width: 100%;
  }
  .message-container {
    width: 90%;
  }
}
